.movie_data {
  background-color: #fff;
  box-shadow: 7px 5px 20px 5px #cacaca;
  color: #777171;
  margin: 30px;
  padding: 30px;
  position: relative;
}
.movie_title {
  border-bottom: 1px solid gray;
  color: #424040;
  font-size: xx-large;
}
.movie_id {
  border: 1px solid #dadada;
  border-radius: 10px;
  color: #8b8b8b;
  font-size: 13px;
  padding: 5px 10px;
  top: 13px;
  z-index: 2;
}
.movie_date,
.movie_id {
  font-weight: 700;
  position: absolute;
  right: 20px;
}
.movie_date {
  bottom: 13px;
}
.movie_info {
  background-color: #e5ecfc;
  border: 1px solid #dadada;
  border-radius: 15px;
  color: #8b8b8b;
  padding: 5px 10px;
}
.movie_adult {
  background-color: #b63c3c;
  border-radius: 50%;
  color: #fff;
  font-weight: 700;
  left: -10px;
  padding: 5px;
  position: absolute;
  top: -10px;
  z-index: 10;
}
.movie_poster {
  position: relative;
}
.movie_lang {
  text-transform: uppercase;
}
body {
  background-color: #dae0ed;
}
ul {
  background-color: #4e6177;
  display: inline-block;
  list-style-type: none;
  margin: 1;
  padding: 0;
}
li {
  float: left;
}
li a {
  color: #c7d3df;
  display: block;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}
li a:hover {
  background-color: #111;
}
:root {
  --menu-bg-color: #424141;
  --menu-border-radius: 45px;
  --menu-border: 1px solid #e7e6e6;
  --menu-margin-left: -10px;
  --menu-padding: 5px 20px 5px 20px;
}
.yt_main {
  background-color: #2c2c2c;
  color: #d3a3c5;
  color: #fff;
  font-size: larger;
}
.yt_main_top {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.yt_main_top_left {
  align-items: flex-end;
  display: flex;
  margin: 20px;
}
.yt_main_top_right {
  display: flex;
  margin: 10px;
}
.yt_main_top_right > span {
  margin-left: 5px;
  margin-right: 5px;
}
.yt_main_top2 {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.yt_main_top2_left {
  color: #d12525;
  font-size: 21px;
  margin-left: 10px;
}
.yt_main_top2_right {
  align-items: center;
  display: flex;
}
.yt_main_top2_right > div,
.yt_main_top2_right > span {
  margin-left: 12px;
  margin-right: 12px;
}
.yt_main_top2_right > div {
  align-items: center;
  background-color: #3a557c;
  border-radius: 50%;
  display: flex;
  font-size: 11px;
  height: 23px;
  padding: 4px;
  width: 23px;
}
.yt_main_top3 {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  padding-top: 20px;
}
.yt_main_top3_left {
  align-items: end;
  display: flex;
  justify-items: center;
  margin-left: 10px;
}
.yt_main_top3_left,
.yt_main_top3_right > span {
  background-color: #424141;
  font-size: 17px;
  padding: 5px 20px;
}
.yt_main_top3_right > span {
  border: 1px solid #e7e6e6;
  border: var(--menu-border);
  border-radius: 45px;
  border-radius: var(--menu-border-radius);
  margin-left: 5px;
  padding: var(--menu-padding);
}
.yt_main_top3_right > span:first-child {
  background-color: #fff;
  color: #000;
  font-size: 17px;
}
.yt_main_top4 {
  border-bottom: 10px solid #2c2c2c;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.yt_main_top5 {
  align-items: flex-start;
  border-bottom: 7px solid #666;
  border-top: 4px solid #8b8b8b;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  padding-top: 20px;
}
.yt_main_top5_left {
  font-size: 35px;
  margin-left: 30px;
}
.yt_main_top5_mid {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: 80%;
}
.yt_main_top5_mid > span:first-child {
  font-size: 15px;
}
.yt_main_top5_mid > span:last-child {
  font-size: small;
}
.yt_main_top5_right {
  align-items: flex-start;
  display: flex;
}
.yt_main_top6 {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.yt_main_top6_top {
  align-items: center;
  display: flex;
  margin-bottom: 10px;
  margin-left: 20px;
}
.yt_main_top6_bottom {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}
.yt_main_top7 {
  border-top: 1px solid #8b8b8b;
  display: flex;
  justify-content: space-around;
  padding-bottom: 30px;
  padding-top: 10px;
}
.yt_main_top7_five,
.yt_main_top7_four,
.yt_main_top7_one {
  display: flex;
  flex-direction: column;
}
/*# sourceMappingURL=main.85a5e5ee.css.map*/
