:root {
  --menu-bg-color: rgb(66, 65, 65);
  --menu-border-radius: 45px;
  --menu-border: 1px solid rgb(231, 230, 230);
  --menu-margin-left: -10px;
  --menu-padding: 5px 20px 5px 20px;
  /* --menu-display: flex;
  --menu-align-items: end;
  --menu-justify-items: center; */
}

h2 {
  flex-wrap: nowrap;
}
.yt_main {
  background-color: rgb(44, 44, 44);
  color: rgb(211, 163, 197);
  font-size: larger;
  color: white;
}

.yt_main_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.yt_main_top_left {
  display: flex;
  align-items: flex-end;
  margin: 20px;
}

.yt_main_top_right {
  margin: 10px;
  display: flex;
}

.yt_main_top_right > span {
  margin-left: 5px;
  margin-right: 5px;
}

.yt_main_top2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.yt_main_top2_left {
  margin-left: 10px;
  color: rgb(209, 37, 37);
  font-size: 21px;
}

.yt_main_top2_right {
  display: flex;
  align-items: center;
}

.yt_main_top2_right > span {
  margin-left: 12px;
  margin-right: 12px;
}

.yt_main_top2_right > div {
  margin-left: 12px;
  margin-right: 12px;
  background-color: rgb(58, 85, 124);
  width: 23px;
  height: 23px;
  border-radius: 50%;
  font-size: 11px;
  padding: 4px;
  display: flex;
  align-items: center;
}

.yt_main_top3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 10px;
}

.yt_main_top3_left {
  margin-left: 10px;
  padding: 5px 20px 5px 20px;
  display: flex;
  align-items: flex-end;
  justify-items: center;
  background-color: rgb(66, 65, 65);
  font-size: 17px;
}

.yt_main_top3_right > span {
  background-color: rgb(66, 65, 65);
  padding: var(--menu-padding);
  border-radius: var(--menu-border-radius);
  border: var(--menu-border);
  margin-left: 5px;
  font-size: 17px;
}
.yt_main_top3_right > span:first-child {
  background-color: rgb(255, 255, 255);
  color: black;
  font-size: 17px;
}

.yt_main_top4 {
  display: flex;
  justify-content: center;
  border-bottom: 10px solid rgb(44, 44, 44);
}

.yt_main_top5 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 20px;
  padding-bottom: 10px;
  border-top: 4px solid rgb(139, 139, 139);
  border-bottom: 7px solid rgb(102, 102, 102);
}

.yt_main_top5_left {
  font-size: 35px;
  margin-left: 30px;
}

.yt_main_top5_mid {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-bottom: 15px;
}

.yt_main_top5_mid > span:first-child {
  font-size: 15px;
}

.yt_main_top5_mid > span:last-child {
  font-size: small;
}

.yt_main_top5_right {
  display: flex;
  align-items: flex-start;
}

.yt_main_top6 {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.yt_main_top6_top {
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-bottom: 10px;
}

.yt_main_top6_bottom {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}

.yt_main_top7 {
  border-top: 1px solid rgb(139, 139, 139);
  display: flex;
  justify-content: space-around;
  padding-top: 15px;
  padding-bottom: 30px;
}

.yt_main_top7_one {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.yt_main_top7_two {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.yt_main_top7_four {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.yt_main_top7_five {
  display: flex;
  flex-direction: column;
  align-items: center;
}
